*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    margin-bottom: 2rem;
    padding: 1rem;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu > ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}